<p class="article_author_date text-muted text-center text-lg-left mb-2">
    <i class="fas fa-user-tie mr-1"></i> {{ 'blogs.article.by_author' | t: author: article.author }}
    <span class='author_date_separator mx-2'>|</span>
    <i class="far fa-calendar mr-1"></i> {{ article.published_at | date: '%b %Y' }}
</p>